In [4]:
import pandas as pd
from statsmodels.tsa.arima_model import ARIMA
from matplotlib import pyplot

In [5]:
pd.set_option('display.max_rows', 1000)

In [3]:
df = pd.read_csv('processed_dataset.csv')

In [4]:
df['measure_date'] = pd.to_datetime(pd.to_datetime(df['measure_date']).dt.date)
df['departure_date'] = pd.to_datetime(pd.to_datetime(df['departure_date']).dt.date)
df['arrival_date'] = pd.to_datetime(pd.to_datetime(df['arrival_date']).dt.date)

In [5]:
df.head()

,departure_city,arrival_city,flight_duration,carrier_name,agent_name,flight_number,price,measure_date,departure_date,departure_hour,departure_minute,arrival_date,arrival_hour,arrival_minute,days_left_to_departure,previous_price_for_trip
0,moscow,budapest,165,aeroflot,aeroflot,2468,3710.37,2020-03-01,2020-05-01,20,10,2020-05-01,21,55,61,NaN
1,moscow,budapest,155,wizz air,wizz air,2490,4763.70,2020-03-01,2020-05-01,10,5,2020-05-01,11,40,61,NaN
2,moscow,budapest,130,lot,lot,5676,5306.59,2020-03-01,2020-05-01,18,5,2020-05-01,19,15,61,NaN
3,moscow,budapest,220,brussels airlines,brussels airlines,2846,1879.37,2020-03-01,2020-05-04,15,45,2020-05-04,18,25,64,NaN
4,moscow,budapest,155,wizz air,wizz air,2490,2177.55,2020-03-01,2020-05-04,10,5,2020-05-04,11,40,64,NaN